EXPO_PUBLIC_OCR_BACKEND_URL=https://controlgastos-ocr-3cmnyd3z6a-uc.a.run.app/api/ocr/receipt
EXPO_PUBLIC_GOOGLE_DOC_AI_PROJECT_ID=tu-project-id
EXPO_PUBLIC_GOOGLE_DOC_AI_LOCATION=us
EXPO_PUBLIC_GOOGLE_DOC_AI_PROCESSOR_ID=tu-processor-id
